img {
    width: 140px;
    height: 180px;
    border-radius: 25px;
}

#intro{
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.img-container {
    flex: 1;
    text-align: right;
    padding-right: 2%;
}

.text-container {
    flex: 2;
    text-align: left;
}

.social-icons {
    text-align: left;
}

.social-icons img {
    margin-right: 30px;
    width: 50px;
    height: 50px;
}

.social-icons a {
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

#food_generator img {
    max-width: 100%; /* Make the image responsive within its container */
    height: auto; /* Maintain the aspect ratio */
    max-height: 400px; /* Set a maximum height for the image */
}

#food_generator {
    float: right;
    padding: 50px;
    font-size: 20px;
}

.container_food {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-content {
    flex: 1;
    padding-right: 20px; 
    min-width: 230px;
}

.right-content {
    flex: 1;
    text-align: center; /* Center the content horizontally */
}

button {
    margin-top: 10px;
    color: black; 
    border: 2px solid #954535;
    padding: 10px;
    border-radius: 4px;
  }
  
button:hover {
    background-color: #7B3F00;
    color: white;
}