/* page2 style */
#word ul{
    list-style-type: none;
}

#word ul li{
    display:inline-block;
    height: 140px;
    width: 180px;
    margin:25px;
    font-size: 23px;
    color: #685e4b;
    background-color: #c9c2b5;
    font-weight: bold;
    padding:  25px;
    border-radius: 5px;
    vertical-align: top;
}

#word ul li:hover{
    transition: transform .2s ease;
    cursor: pointer;
    background-color: #a2967f;
}

#word ul li a {
    display: block; /* Ensures the entire list item is clickable */
    padding: 15px; 
    text-decoration: none; /* Remove underlines from links */
    background-color: #c9c2b5;
}

#word ul li a:hover {
    cursor: pointer;
    background-color: #a2967f;
}